.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  img {
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 24px 24px 0 0;
    height: 220px;
  }

  a {
    width: 300px;
    background-color: #222;
    text-decoration: none;
    color: #222;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    transition: transform 200ms ease-in-out;
  }

  a h3 {
    padding-top: 16px;
  }

  a p {
    line-height: 1.5;
    font-size: 0.875rem;
    padding: 16px 0 16px 0;
  }

  a:hover {
    transform: scale(1.05);
  }
}
